:root {
  --blushpink: #ebc3c3;
  --darkgrey: #343434;
  --darkblue: #171a28;
  --darkbluelightertint: #2c324d;
  --white: #fff;
  --bodyfont: "Rubik", sans-serif;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: var(--white);
  font-family: var(--bodyfont);
  background-color: var(--darkblue);
}

body.page {
  height: initial;
}

a {
  color: var(--blushpink);
}

.wrapper {
  display: grid;
  height: 100%;
  gap: 0;
  grid-template-columns: 2fr 5fr;
  grid-template-areas:
    "sidebar main"
}

aside {
  grid-area: sidebar;
  padding: 1rem;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  grid-area: main;
}

footer {
  padding-bottom: 1rem;
}

#map {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--blushpink);
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  margin: 2rem 0;
}

h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

h1.site-title {
  margin: 0;
  font-size: 2.2rem;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

.near-me {
  margin: 1rem 0;
  padding: 0.3rem 0.6rem;
}

.near-me-text {
  text-decoration: none;
}

.near-me-text>span {
  text-decoration: underline;
}

.near-me-text:before {
  content: '📍 ';
}

.near-me-error {
  display: block;
  margin: 0.6rem 0;
  padding: 0.3rem 0.5rem;
  background-color: var(--darkbluelightertint);
}

.library-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.library-entry {
  padding: 1rem;
  border: 1px solid var(--white);
  margin: 0.5rem 0 1rem;
}

.library-entry:before {
  content: '📚';
  padding-right: 0.5rem;
}

.library-entry:hover {
  cursor: pointer;
  color: var(--blushpink);
}

.library-thumbnail {
  max-width: 100px;
  margin-top: 0.5rem;
}

@media screen and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      "main"
      "sidebar"
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "main"
      "sidebar"
  }
}

/* Page layouts */

.page {
  line-height: 1.5;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.3rem;
  box-sizing: border-box;
}


/* Leaflet overrides */

.leaflet-popup-content-wrapper {
  border-radius: 0!important;
  box-shadow: none!important;
  font-family: var(--bodyfont);
}

.leaflet-popup-tip-container {
  display: none;
}
