:root {
  --blushpink: #ebc3c3;
  --darkgrey: #343434;
  --darkblue: #171a28;
  --darkbluelightertint: #2c324d;
  --white: #fff;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;

  color: var(--white);
  font-family: "Rubik", sans-serif;
  background-color: var(--darkblue);
}

a {
  color: var(--blushpink);
}

.wrapper {
  display: grid;
  height: 100%;
  gap: 0;
  grid-template-columns: 2fr 5fr;
  grid-template-areas:
    "sidebar main"
}

aside {
  grid-area: sidebar;
  padding: 1rem;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  grid-area: main;
}

footer {
}

#map {
  height: 100%;
}

.site-title {
  margin: 0;
  color: var(--blushpink);
  font-size: 2.2rem;
  font-weight: 300;
}

.near-me {
  margin: 1rem 0;
  padding: 0.3rem 0.6rem;
}

.near-me-text {
  text-decoration: none;
}

.near-me-text>span {
  text-decoration: underline;
}

.near-me-text:before {
  content: '📍 ';
}

.near-me-error {
  display: block;
  margin: 0.6rem 0;
  padding: 0.3rem 0.5rem;
  background-color: var(--darkbluelightertint);
}

.library-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.library-entry {
  padding: 1rem;
  border: 1px solid var(--white);
  margin: 0.5rem 0 1rem;
}

.library-entry:before {
  content: '📚';
  padding-right: 0.5rem;
}

.library-entry:hover {
  cursor: pointer;
  color: var(--blushpink);
}

.library-thumbnail {
  max-width: 100px;
  margin-top: 0.5rem;
}

@media screen and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      "main"
      "sidebar"
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "main"
      "sidebar"
  }
}