{% extends 'base.html' %}

{% load static %}

{% block extrastyles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
 integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
 crossorigin=""/>
{% endblock extrastyles %}

{% block content %}
<maptest></maptest>
{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.13.2/riot+compiler.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<!-- <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/haversine@1.1.1/haversine.min.js"></script>

<script src="{% static 'web/riot-tags/map.tag' %}" type="riot/tag"></script>

<script>
  riot.mount('maptest', {
    'mapboxApiKey': "{{ mapbox_api_key }}"
  });
</script>
{% endblock scripts %}
